body{
    background-image: url("img/whiteZeta.jpg");
    background-position: center;
}
.container{
    display: flex;
    flex-flow: column;
    place-items: center;
}

#gallery{
    display: grid;
    place-items: center;
}

#gallery img{
    width: 300px;
    transition: .5s;
}

#change{
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    padding: 12px;
    background-color: blue;
    color: white;
    transition: .3s ease-in-out;
}

#change:hover{
    transform: translateY(-10px);
    background-color: rgb(31, 31, 212);
}